div {
    border: 1px solid gray;
    padding: 40px;
    margin: 40px;
    color: crimson;
    background-color: rgb(27, 2, 2);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    font-family:"Sofia", sans-serif;
}



a {
    text-decoration: none;
    color: #008CBA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#badhon p.transformation,li{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: rgb(9, 87, 6);
    display: inline;
    margin: 0px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  li{
      margin: 25px;
      background-color: darkolivegreen;
      padding: 10px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
div.static{
    color: darkslateblue;
    border: 1px solid gray;
    padding: 40px;
    margin: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    position: static;
    border: 3px solid #73AD21;
    text-size-adjust: auto;
    text-transform: capitalize;
    text-align: justify;
}
#overflowTest{
    background: #4CAF50;
    color: white;
    padding: 15px;
    width: 92%;
    height: 100px;
    overflow: scroll;
    border: 1px solid #ccc;
}
* {
    box-sizing: border-box;
  }
  
  .box {
    float: left;
    width: 30c.33%;
    padding: 20px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }