#para1 {
    background-color: crimson;
    color: rgb(31, 29, 29);
    text-align: center;
    font: outline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 20px;
}
#para2 {
    color: crimson;
    text-align: left;
    margin: 20px;
    padding: 20px;
    background-color: rgb(31, 29, 29);
    font-family: fantasy;
    font: outline;
    font-size: 150%;
    border-style: groove;
    border-width: 5px;
    border-color: darkgoldenrod;
    border-top-style: dotted;
    border-bottom-style: dotted;
}
.center {
    text-align: center;
    color: red;
}
body {
    background-color: aquamarine;
    border-style: dotted;
    border-width: thick;
    border-color: brown;
    border-right-style: solid;
    border-left-style: solid;
}